html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top {
  width: 100%;
  border-bottom: 1px solid #a8a5a5;
}

.head-top-call {
  padding: 20px;
}

.head-top-call i {
  margin-right: 13px;
  font-size: 16px;
}

.head-top-call i:hover {
  color: #FCBC72;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.head-top-call span {
  margin-left: 8px;
  font-weight: 300;
}

.header-top-left-item {
  width: 70%;
}

.header-top-right-item {
  width: 30%;
  padding: 0px 34px;
  padding-left: 105px;
  margin-left: 100px;
}

.head-login {
  padding: 20px;
}

.head-login a {
  color: #2f3036;
}

.head-currency-dropdown {
  padding: 10px;
}

.head-currency-dropdown a {
  text-decoration: none;
}

.head-currency-dropdown nav {
  font-family: monospace;
}

.head-currency-dropdown ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.head-currency-dropdown li {
  color: black;
  display: block;
  float: left;
  padding: 10px 6px;
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.head-currency-dropdown li a {
  color: #2f3036;
}

.head-currency-dropdown li:hover,
.head-currency-dropdown li:focus-within {
  cursor: pointer;
  color: #FCBC72;
}

.head-currency-dropdown li:focus-within a {
  outline: none;
}

.head-currency-dropdown ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.head-currency-dropdown ul li:hover > ul,
.head-currency-dropdown ul li:focus-within > ul,
.head-currency-dropdown ul li ul:hover,
.head-currency-dropdown ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  color: #FCBC72;
}

.head-currency-dropdown ul li ul li {
  clear: both;
  width: 100%;
}

.head-language-dropdown {
  padding: 10px;
}

.head-language-dropdown i {
  padding-left: 15px;
}

.head-language-dropdown a {
  text-decoration: none;
}

.head-language-dropdown nav {
  font-family: monospace;
}

.head-language-dropdown ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.head-language-dropdown li {
  color: black;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 6px;
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.head-language-dropdown li a {
  color: #2f3036;
}

.head-language-dropdown li:hover,
.head-language-dropdown li:focus-within {
  cursor: pointer;
  color: #FCBC72;
}

.head-language-dropdown li:focus-within a {
  outline: none;
  color: #FCBC72;
}

.head-language-dropdown ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.head-language-dropdown ul li:hover > ul,
.head-language-dropdown ul li:focus-within > ul,
.head-language-dropdown ul li ul:hover,
.head-language-dropdown ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.head-language-dropdown ul li ul li {
  clear: both;
  width: 100%;
}

.header {
  width: 100%;
  padding-top: 21px;
}

.header .header-logo {
  width: 20%;
  padding-left: 10px;
}

.header .header-seachbar {
  width: 60%;
}

.header .header-seachbar input[type=search] {
  padding: 20px 30px;
  width: 50%;
}

.header .header-right-item {
  width: 20%;
}

.header .compare-dropdown a {
  text-decoration: none;
}

.header .compare-dropdown nav {
  font-family: monospace;
}

.header .compare-dropdown ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header .compare-dropdown li {
  color: black;
  display: block;
  float: left;
  padding: 10px 14px;
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .compare-dropdown li p {
  color: #777;
  padding-left: 15px;
  padding-top: 10px;
  font-weight: 300;
}

.header .compare-dropdown li a {
  color: #2f3036;
}

.header .compare-dropdown li:hover,
.header .compare-dropdown li:focus-within {
  cursor: pointer;
  color: #FCBC72;
}

.header .compare-dropdown li:focus-within a {
  outline: none;
  color: #FCBC72;
}

.header .compare-dropdown ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 25px;
  left: 0;
  display: none;
}

.header .compare-dropdown ul li:hover > ul,
.header .compare-dropdown ul li:focus-within > ul,
.header .compare-dropdown ul li ul:hover,
.header .compare-dropdown ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  color: #FCBC72;
}

.header .compare-dropdown ul li ul li {
  clear: both;
  width: 300%;
}

.header-right-item i {
  padding-left: 22px;
}

.navbar {
  background: #333333;
}

.navbar .browse-category {
  width: 20%;
  background: #FCB941;
  margin-left: 10px;
}

.navbar .browse-category h1 {
  color: black;
  padding: 20px;
  font-weight: 700;
}

.navbar .browse-category i {
  margin-left: 10px;
  color: black;
  padding: 20px 0;
  font-weight: 700;
}

.navbar .nav-bar {
  width: 60%;
}

.navbar .nav-bar ul {
  padding: 0 80px;
}

.navbar .nav-bar ul li {
  padding: 20px;
}

.navbar .nav-bar ul li a {
  color: white;
}

.navbar .nav-bar ul li i {
  color: white;
}

.navbar .campany {
  width: 20%;
}

.navbar .campany i {
  color: #FCB93E;
  padding: 20px 0;
}

.navbar .campany p {
  padding: 20px;
  color: white;
  font-weight: 700;
}

.section-one .browse-category-item {
  width: 20%;
}

.section-one .browse-category-item ul li {
  padding: 11px 15px;
}

.section-one .browse-category-item ul li a {
  color: #333;
}

.section-one .browse-category-item ul li a i {
  color: #ccc;
  padding-right: 20px;
}

.section-one .slidebar {
  width: 80%;
}

.section-one .slidebar img {
  width: 98%;
  padding-top: 17px;
  padding-left: 17px;
  padding-bottom: 17px;
}

.newsletter {
  background: #333333;
}

.newsletter .newsletter-container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}

.newsletter .newsletter-text h3 {
  color: #FCB941;
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 5px;
}

.newsletter .newsletter-text p {
  color: #ccc;
}

.newsletter .newsletter-email {
  max-width: 700px;
  padding-left: 15px;
}

.newsletter .newsletter-email input[type=email] {
  border-color: #dadada;
  padding: 15px;
  width: 500px;
}

.newsletter .newsletter-email button {
  margin-left: 5px;
  padding: 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.newsletter .newsletter-email button:hover {
  background: #FCB941;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
  padding-top: 60px;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: #FCB947;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer ul li {
  margin-bottom: 10px;
}

footer .footer-base {
  width: 29%;
  padding-left: 15px;
}

footer .footer-base img {
  padding-bottom: 20px;
}

footer .footer-base p {
  line-height: 20px;
}

footer .footer-base .question {
  margin-top: 30px;
}

footer .footer-base .pay {
  margin-top: 30px;
  padding-left: 25px;
}

footer .footer-base .pay img {
  margin-top: 10px;
}

footer .footer-base .question .tel {
  display: inline-block;
  color: #FCBC4D;
  font-size: 20px;
  margin-top: 9px;
}

footer .footer-useful {
  width: 15%;
  padding-left: 15px;
}

footer h3 {
  font-weight: bold;
  margin-bottom: 30px;
}

footer .footer-customer {
  width: 15%;
  padding-left: 15px;
}

footer .footer-account {
  width: 15%;
  padding-left: 15px;
}

footer .footer-newsletter {
  width: 20%;
  padding-left: 15px;
}

footer .footer-newsletter input[type=email] {
  padding: 5px 10px;
}

footer .footer-newsletter p {
  padding-bottom: 15px;
}

footer .footer-newsletter button {
  outline: none;
  padding: 5px 10px;
  color: white;
  background: black;
}

footer .footer-newsletter button:hover {
  background: #FCB941;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-bootom {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.footer-bootom .left-item {
  width: 83%;
}

.footer-bootom .right-item {
  width: 17%;
}

.footer-bootom .right-item i {
  padding-left: 5px;
  padding-right: 10px;
}

.footer-bootom .right-item i:hover {
  color: #FCB941;
}
